<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.1.xsd">

	<http auto-config="true">
		<intercept-url pattern="/editComputer" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/addComputer" access="hasRole('ROLE_ADMIN')" />

		<form-login 
			login-page="/login"
			default-target-url="/dashboard"
			authentication-failure-url="/login?error"
			username-parameter="username"
			password-parameter="password" />
			
		<logout logout-success-url="/dashboard" logout-url="/logout" />

		<!-- enable csrf protection -->
		<csrf />
	</http>

	<!-- Authentication-manager : called when a user try to login -->	
	<beans:bean id="myUserDetailsService" class="com.excilys.computer_database.service.UserService" />
	<authentication-manager>
		<authentication-provider user-service-ref="myUserDetailsService" >
			<!-- Password are encoded in sha-256 -->
			<password-encoder hash="sha-256" />    
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>